  /* Font Family Link */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Oswald&family=Work+Sans:wght@400;500;600;700;800&display=swap');
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;
*{
    margin: 0;
    padding: 0;
}
/* Header Area Style */
.header-area{
    background-color: #FFF;
    height: 80px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>img{
    width: 100%;
    height: 100%;
}
.logo-g{
    color:#FF42A5;
    margin-left: 20px;
}
.menus{
    display:flex;
    margin-right: 5px;
}
  
li {
    list-style-type: none;
    margin-right: 32px;
}
.menu-btn{
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;
}
.follow Us{
    
}

/* Main Area Style */
/* GOAT Area Style */
.goat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.goat-description{
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    
}
.play{
    font-weight: 600;
    font-size: 49px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.main-goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.icon-with-text{
    display: flex;
    justify-content: left;
    align-items: center;
}
.mini-icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
goat-btn{

}
.sign-in{
    border-radius: 25px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: inline-flex;
    padding: 21px 40px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
}

.go-rogue{
    border-radius: 25px;
    background: var(--linear, linear-gradient(90deg, #429aff 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
}
.goat-image{
    width: 500px;
    height: 100%;
    margin-left: 50px;
}

/* Gamer Area Style */
.gamer-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gm-ar-img{
    width: 650px;
    height: 450px;
    margin-left: 100px;
}
.gamer-area-description{
    margin-right: 150px;
    text-align: right;
}

/* Online Games */
.online-games{
    text-align: center;
    padding: 50px;
}
.funny-video{
    color: #F948B2;
}
.online-games-titile{
    padding-bottom: 5px;
}
.online-games-image{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 100px;
}
.online-games-images{
    height: 245px;
    border: none;
    margin-top: -50px;
}

/* Play Image Area */
.gamer-area-muskil{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gamer-area-description--muskil{
    margin-left: 60px;
}
.Play-Instantly{
    color: #FF42A5;
}
.gamer-area-muskil h1{
    font-size: 48px;
 }

.first-image{
    width: 350px;
    height: 400px;
}
.scnd-image{
    width: 150px;
    height: 150px;
    transform: translateX(-60px) translateY(-60px);
}


/* Carrear section style */
.carrear-section{
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 100px;
}
.carrear-discription-area{
    margin-left: 200px;
}
.carrear-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrear-img{
    width: 700px;
}

/* Many Game Style */

.g-btn{
    
}